//
// Created: 2.5.2016
// Author: LN
// 


SECTION {
	// Prevent margin from flowing out of the container
	overflow: auto;
}

H1 {
	line-height: 1.3em;
	color: #000;
	text-transform: uppercase;
	font-size: 190%;
	font-weight: 400;
	padding: 70px 10% 15px 10%;
}

H2 {
	color: $pink;
	font-weight: 600;
	padding-bottom: 8px;
	padding-top: 25px;
}


// LIBOR NOVAK header and intro
#head-main {
	H1 {
		color: $pink;
		font-size: 200%;
		padding: 55px 10% 0px 10%;
		margin: auto;
		display: inline-block;

		STRONG {
			font-weight: 600;
		}
	}

	// When the screen is big enough, we can show the underlining stripe
	@media (min-width: 360px) {
		H1 {
			border-bottom: 5px solid $pink;
			padding: 55px 65px 15px 65px;
		}
	}

	P {
		text-align: center;
		margin: 25px auto 30px auto;
		width: 80%;
		max-width: 650px;
	}
}


// Section about schools I attended
#studies {
	padding-bottom: 20px;

	> DIV {
		display: table;
		width: 80%;
		max-width: 800px;
		margin: 30px auto 60px auto;

		DIV {
			display: table-cell;
			vertical-align: middle;
		}

		// School logo
		DIV:first-child {
			width: 32%;
			text-align: right;

			IMG {
				width: 100%; // This will assure rescaling when shrinking the page
				max-width: 150px;
			}
		}

		// School description
		DIV:last-child {
			width: 68%;
			text-align: left;
			padding-left: 9%;

			STRONG {
				font-weight: 400;
			}

			H2 {
				padding-top: 0;
			}
		}
	}
}


// Section with my skills
#what-can-i-do {
	background-color: $yellow;

	// H2 and P should have 10% padding on each side
	H2, P {
		width: 80%;
		margin: auto;
	}

	.software-logos {
		display: table;
		width: 80%;
		max-width: 600px;
		margin: 40px auto 70px auto;

		DIV {
			display: table-cell;
			width: 33.3%;
			vertical-align: middle;
			padding: 10px;

			// Middle sized screens
			@media (min-width: 460px) {
				IMG {
					max-width: 110px;
					max-height: 67px;
				}
			}
			// Biggest screens
			@media (min-width: 550px) {
				IMG {
					max-width: 130px;
					max-height: 80px;
				}
			}
			// Smallest screens
			@media (max-width: 460px) {
				IMG {
					max-width: 80px;
					max-height: 50px;
				}
			}
		}

		// MatLab logo
		DIV:first-child {
			text-align: left;
		}

		// OpenCV logo
		DIV:last-child {
			text-align: right;
		}
	}
}


#portfolio {
	overflow: initial;
	margin-bottom: 30px;

	> DIV {
		display: table;
		border-spacing: 5px;
		width: 80%;
		max-width: 800px;
		margin: 30px auto 0 auto;

		> DIV {
			display: table-row;

			> DIV {
				// Table cell
				display: table-cell;

				// Flipping code largely inspired by https://davidwalsh.name/css-flip
				// Perspective rotation while flipping the images
				@include perspective(1000px);


				.flipper {
					@include transition-duration(0.4s);
					@include transform-style(preserve-3d);
					position: relative;

					.front, .back {
						@include backface-visibility(hidden);

						IMG {
							width: 100%;
							display: block;
						}
					}

					.front {
						// We want the front to be relative because the image it contains sets the height of the element
						position: relative;
						z-index: 2;
						@include transform(rotateY(0deg));
					}

					.back {
						// The back needs to be positioned absolutely so it would not jump below the front div
						position: absolute;
						display: table;
						border-spacing: 0;
						top: 0;
						left: 0;
						@include transform(rotateY(-180deg));

						> DIV {
							display: table-cell;
							vertical-align: middle;
							padding: 0 10%;

							H2 {
								padding-top: 0;
							}
						}

						DIV.fun {
							background-color: $pink;
							color: #FFF;

							H2 {
								color: $yellow;
							}
						}

						DIV.serious {
							background-color: $yellow;
						}
					}
				}
			}

			> DIV.flipped .flipper {
				// This is to perform the flipping of the card
				@include transform(rotateY(180deg));

			}

			.text-tile {
				vertical-align: middle;
				background-color: $pink;

				H1 {
					color: #FFF;
					padding: 0 5%;
				}

				@media (max-width: 450px) {
					H1 {
						padding: 30px 5%;
					}
				}
			}

			.text-tile.fun {
				background-color: $pink;

				H1 {
					color: $yellow;
				}
			}

			.text-tile.serious {
				background-color: $yellow;

				H1 {
					color: $pink;
				}
			}
		}
	}
}


// My work experience
#experience {

	H2 {
		color: #000;
	}

	STRONG {
		font-weight: 400;
		color: $pink;
	}

	// Current working position
	.current {
		display: table;
		width: 80%;
		max-width: 600px;
		margin: 30px auto 15px auto;

		DIV {
			display: table-cell;
			vertical-align: middle;
		}

		// Left arrow
		DIV:first-child {
			width: 5%;
			text-align: right;
		}

		// Right arrow
		DIV:last-child {
			width: 5%;
			text-align: left;
		}

		IMG {
			max-height: 50px;
		}

		H2 {
			padding-top: 0;
		}
	}

	// For small screens hide the arrows
	@media (max-width: 460px) {
		.current {
			DIV:first-child, DIV:last-child {
				display: none;
			}
		}
	}

	// Other positions display into a 2 column table, unless the screen is too small
	.positions {
		display: table;
		margin: 15px auto 40px auto;
		width: 80%;
		max-width: 800px;

		> DIV DIV {
			padding: 15px 10px;
		}

		@media (min-width: 640px) {
			> DIV {
				display: table-row;

				DIV {
					display: table-cell;
				}
			}
		}
	}

	@media (max-width: 550px) {
		// When the logos disappear we need to add extra margin
		.positions {
			margin-bottom: 80px;
		}

		.logos {
			display: none;
		}
	}

	// Display logos for big enough screens
	@media (min-width: 550px) {
		.logos {
			display: table;
			max-width: 800px;
			width: 80%;
			margin: 0 auto 80px auto;

			DIV {
				vertical-align: middle;
				padding: 10px;
				display: table-cell;
				width: 25%;

				// Smaller logos for smaller screens
				@media (max-width: 680px) {
					IMG {
						max-width: 100px;
						max-height: 75px;
					}
				}

				@media (min-width: 680px) {
					IMG {
						max-width: 120px;
						max-height: 90px;
					}
				}
			}
		}
	}
}


