//
// Created: 2.5.2016
// Author: LN
// 

BODY {
	text-align: center;
	font-family: "MyRaleway", "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.3em;
}

A {
	color: inherit;
	text-decoration: none;
}

